<%- include ('partials/header.ejs') %>



<body>
    <%- include ('partials/navbar.ejs') %>
    <iframe id="link" title="link do bot imunik"src='http://survey.imunelabs.com/lite/farmacovigilancia-imunik/?m=channel-web&v=Fullscreen&options=%7B"hideWidget"%3Atrue%2C"config"%3A%7B"enableReset"%3Atrue%2C"enableTranscriptDownload"%3Atrue%7D%7D' frameborder="0"></iframe>

</body>

<%- include ('partials/footer.ejs') %>