<%- include ('partials/header.ejs') %>



<body>
    <%- include ('partials/navbar.ejs') %>
    <iframe id="link" title=""src='URL' frameborder="0"></iframe>

</body>

<%- include ('partials/footer.ejs') %>