<%- include ('partials/header.ejs') %>


<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <h1>TITULO</h1>
        <img src="/img" width=200 height=100>
        <h5>🙂🙂</h5>
        <a id="btn" class="btn btn-success" href="/page2" >Start</a>
    </div>

</body>

<%- include ('partials/footer.ejs') %>